#admin_div_list{
	float: center;
	width: 80%;
}

table{
	width: 95%;
	margin: auto;
}



#admin_page{
	float: center;
	margin-left: 25%;
	text-align: center;
}

#select_reorder{
	margin-left: 3%;
}

.col_id{
	width:4%;
	text-align: center;
}

.col_name{
	width:10%;
	text-align: left;
}