html,div{
	margin: auto;
	font-family: 微软雅黑,'Century Gothic';
	vertical-align: baseline;
}

body{
	background-color: #528B8B;
}

#head{
	text-align: center;
}

#login{
	width: 45%;
	height: 100%;
}

input[type='text'],input[type='password']{
	width:99%;
	border:1px #999 solid;
	border-radius: 3px;
}

input[type="submit"]{
	box-shadow:inset 0px 0px 12px #233;
	background-color:#f8f8f8;
	color: #545454;
	font-family: 微软雅黑;
	padding:3%;
	margin-left: 15%;
	width: 70%;
	border:1px #999 solid;
	border-radius:15px;
	margin-bottom: 10%;
}

#background{
	width: 30%;
	margin-top: 20%;
	background-color: #f7f7f7;
}