html{
	font-family: 微软雅黑,'Century Gothic';
	color:#111;
}

.float_left{
	float: left;
}

.body{
	float:none;
	width:95%;
	margin:2% auto;
}

#yhq_img{
	width: 300px;
}

#footer{
	float:left;
	font-size: 90%;
	width: 95%;
	text-align: center;
	border-top: 1px solid #222;
	margin:2% auto 0 auto;
	padding: auto;
}